.foto{
  background-color: red;
  height: 500px;
  @include container;

  h2{
    padding-top: $padding-30
  }

  .immagini{
    @include flex(space-between,center);
  }

  img{
    padding-top: $padding-20;
    width: 350px;
  }





}
