header{
  height: $altezzaHeader;
  background-color: $sfondoNero;

  @include container;
  .header-top{
    height: $altezzaHeaderTop;
    nav{
      @include flex(flex-end,center);
      height: 100%;
    }
  }

  .header-bottom{
    height: $altezzaHeaderBottom;
    background-color: yellow;
  }





}
