@mixin container{
  .container{
    width: $larghezzaContainer;
    margin: 0 auto;
  }
}

@mixin flex($justify,$align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
