@mixin container{
  .container{
    width: $larghezzaContainer;
    margin: 0 auto;
  }
}

@mixin flex($justify,$align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


@mixin btn($bgColor, $color, $padding){
  border: 1px solid black;
  background-color: $bgColor;
  color: $color;
  padding: $padding;

}
