// colori
$sfondoNero: #000000;
$coloreBianco: #ffffff;
$coloreGrigio: grey;
$coloreViola: purple;

// altezze e larghezze
$altezzaHeader: 100px;
$altezzaHeaderTop: 30px;
$altezzaHeaderBottom: 70px;
$larghezzaContainer: 1200px;

// padding e margin
$padding-10: 10px;
$padding-20: 20px;
$padding-30: 30px;
$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;

// decorazioni
$sottolineatura: white;
$testoObliquo: oblique;

//font size
$size-big: 50px;
