// colori
$sfondoNero: #000000;
$coloreBianco: #ffffff;
$coloreGrigio: grey;

// altezze e larghezze
$altezzaHeader: 100px;
$altezzaHeaderTop: 30px;
$altezzaHeaderBottom: 70px;
$larghezzaContainer: 1200px;

// padding e margin
$padding-10: 10px;
$padding-20: 20px;

// decorazioni
$sottolineatura: white;
