// colori
$sfondoNero: #000000;
$coloreBianco: #ffffff;
$coloreGrigio: grey;

// altezze e larghezze
$altezzaHeader: 100px;
$altezzaHeaderTop: 30px;
$altezzaHeaderBottom: 70px;
$larghezzaContainer: 1200px;

// padding e margin
